@import "variables";

.top-cart {
  background-image: url(../img/cart-top.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: $color-white;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
}
.title-main {
  margin-top: 64px;
}


.cart {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  &__content {
    grid-column: span 8;
  }

  &__name-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    margin-right: 27px;
  }

  &__item-wrap {
    display: flex;
    width: 276px;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__item_padding_small {
    padding-top: 25px;
    padding-bottom: 32px;
    border-top: #cacdd8 0.5px solid;
  }

  &__item_padding_big {
    padding-top: 28px;
    border-top: #cacdd8 0.5px solid;
  }

  &__item-left {
    display: flex;
    gap: 32px;
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 276px;
  }

  &__item-name {
    color: $color-black;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__item-description {
    color: $color-gray;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__item-price {
    color: $color-black-alt;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__item-link-box {
    display: flex;
    gap: 30px;
  }

  &__item-link {
    color: $color-black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.4px;
    text-decoration-line: underline;
  }

  &__item-qty {
    display: flex;
    text-align: center;
    border-radius: 5px;
    background: $color-light-gray;
    width: 71px;
    height: 51px;
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: $color-black;
    font-family: inherit;
    border: none;
  }

  &__buttons {
    display: flex;
    gap: 7px;
    margin-top: 47px;
    margin-bottom: 5px;
  }

  &__button {
    color: $color-black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    border: 1px solid #000;
    padding: 10px 34px 10px 33px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  &__button-return {
    color: $color-black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    border: 1px solid #000;
    padding: 10px 22px 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  &__button-return a {
    color: $color-black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__button a {
    color: $color-black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.form {
  border-radius: 20px;
  background: $color-light-gray;
  height: 556px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 376px;

  &__title {
    margin-top: 45px;
    margin-bottom: 37px;
    color: $color-black;
    font-size: 24px;
    font-weight: 700;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 41px;
  }

  & input {
    border: none;
    border-bottom: #cacdd8 1px solid;
    background-color: transparent;
    width: 288px;
    height: 17px;
    font-family: inherit;
  }

  & input::placeholder {
    color: $color-black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: inherit;
  }

  &__btn {
    padding: 10px 77px 11px 76px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #040404;
    color: $color-black;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  &__total-price {
    margin-top: 64px;
    color: $color-black;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 18px;
  }

  &__total-price b {
    font-weight: 500;
  }
}
